<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/image/shubham_logo.jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Planning</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="forboth">
    <div id="main-page1">
        <div id="forphoto">
            <div id="nav">
               <div id="nav-part1"><h4><i class="ri-menu-line"></i></h4></div>
               <div id="nav-part2"><img src="/image/WhatsApp Image 2024-03-08 at 12.52.10 PM.jpeg" alt="" width="30px" height="30px"><h4 id="text2"><div id="nav2-text"><span>E</span>CONO-<span>T</span>OURIST</div></h4></div>
               <div id="nav-part3">
                <h4 ><a href="/main/login"><i class="ri-user-follow-fill nav3" ></a></i></h4>
                <h4 ><a href="#aboutus"  class="nav3">About us</a></h4>
                <h4 ><a href="#whychoseus"  class="nav3">Choose us</a></h4>
            </div>
        </div>

    <section id="home">
             
        <div class="sidebar" >
            <h3 class="sidebaroptions_header">Menu</h3>
            <hr>
            <a href="/mainlogin/<%= data[0].id %>/register" class="sidebaroptions">Registration</a>
            <a href="/mainlogin/<%= data[0].id %>/planatrip" class="sidebaroptions">Plan a Trip</a>
            <a href="/mainlogin/<%= data[0].id %>/hotels" class="sidebaroptions">Hotels</a>
            <a href="/mainlogin/<%= data[0].id %>/map/estimate" class="sidebaroptions">Estimate Cost</a>
            <a href="/mainlogin/<%= data[0].id %>/attraction" class="sidebaroptions">Attraction</a>
            <a href="/mainlogin/<%= data[0].id %>/history" class="sidebaroptions">Trip History</a>
                  </div>
          
            <p id="head">Explore more, spend less</p>  
            <p id="underhead">Plan awesome tours,at very reasonable budget</p>
            <div id="forsearchmain">
            <div id="forsearch">
                    <div id="destination">Destination <input type="search" name="" id="destination-input" placeholder="Where are you going?"></div>
                    <div id="departure">Departure Date <input type="date" name="" id="departure-input" placeholder=""></div>
                    <div id="return">Return Date<input type="date" name="" id="return-input" placeholder=""></div>
                    <div id="nop">No. of people <input type="number" name="" id="nop-input" placeholder="Total no. of peoples?"></div>
                    <button type="button"><i class="ri-search-line"></i>Search</button>
            </div>
        </div>
        </div> 
    </div>
          
    </div>
</section>

<section id = "aboutus">
    <div class="about_us">
        <div class="about_heading">
            <h1 id="about_head"><b>About Us</b></h1>
        </div>

        <div class="about_paragrapdh">
            <br>
            <p class="para1">
    At Econotourist, we understand the magic of travel and the desire to explore new    horizons.
    We also know that budgetary constraints shouldn't hold you back from experiencing the  world.
    That's why we created a  user-friendly platform specifically designed to empower youto  plan 
    and execute unforgettable adventures, all  within your budget.    
            <br>
            <br>
    We're a team passionate about travel, but also  financially conscious. We've leveraged    our
    experience to create a comprehensive set of tools that  streamlines the budget-friendly  trip
    planning process.  Imagine creating a detailed itinerary  with cost-effective   accommodation
    options, affordable transportation solutions, and exciting activities that won't    break the
    bank.  Econotourist empowers you to do just that, putting the control firmly in your   hands.
            <br> <br>
    Here at Econotourist, we don't just find you cheap travel options; we equip you  with     the
    resources to  maximize your budget and discover hidden gems along the way.  Ourplatform  goes 
    beyond basic planning  by offering features like real-time expense trackingand Google    Maps 
    integration for seamless navigation.  We're  confident that Econotouristwill be your one-stop 
    shop for crafting the perfect budget-friendly adventure, transforming your travel dreams into 
    reality.
            </p>
        </div>
    </div>
    </section>

    <section id="whychoseus">
    <div class="choose_us">
        <div class="chosse_heading">
            <p><b>Why   Choose   Us?</b></p>
        </div>

        <p class="choseuspara1">Econotourist isn't just another travel planning platform. Here's what sets us apart and makes us the perfect  partner for your budget-conscious adventures:</p>
        <div class="choose_content"> <p class="choseuspara">


            <img src="/image/unmatchedbudget.jpeg" alt="" class="choseusimage">
<b>Unmatched Budget Management Tools: </b><br> Set and allocate budgets across various expense categories
(accommodation, transportation, food, activities) with ease. Track your spending in real-time and receive insights to
optimize your finances throughout your trip. No more wondering if you're on track .Econotourist keeps you in
control. 
            
            <p class="choseuspara">
                <img src="/image/costeffective.jpeg" alt="" class="choseusimage">
<b>Cost-Effective Options at Your Fingertips :</b><br>We scour vast databases to find a diverse range of
pocket-friendly accommodations that cater to your needs and preferences. From cozy
hostels to charming guesthouses, discover hidden gems that won't strain your wallet.
Travel Like a Local, Without Breaking the Bank: Explore a variety of affordable transportation
options, including local buses, trains, and ride-sharing services. We integrate with popular
services to provide seamless navigation and booking functionalities, ensuring you get the
most out of your destination without overspending.       
            <br>      </p>
            <p class="choseuspara">
                <img src="/image/craft dream iter.jpeg" alt="" class="choseusimage">  
<b>Craft Your Dream Itinerary:</b> <br>Go beyond the tourist traps! We offer suggestions for popular
attractions and activities, but also unveil hidden gems and off-the-beaten-path experiences
that won't break the bank. Our user-friendly tools allow you to create a customized itinerary
that reflects your interests and budget.          
            <br>     </p>
            <p class="choseuspara">    
                <img src="/image/realtime.jpeg" alt="" class="choseusimage"> 
<b>Real-Time Information and Seamless Navigation:</b><br> Stay informed with up-to-date information
on transportation schedules, accommodation availability, and local events. Our platform
integrates seamlessly with Google Maps for effortless trip navigation, ensuring you get the
most out of your exploration.           
            <br>    </p>
         
           
        </p>     
        </div>
       
    </div>
    <p class="choseuspara1"> 
        Econotourist empowers you to be the architect of your perfect budget-friendly adventure.
        We provide the tools  and resources, you bring the dreams! Let's turn them into reality
        together.</p>
</section>

<script src="/js/main.js"></script>
</body>
</html>